<div class="homenav">
	<ul>
		<li>
			<a href="/about">About <span>Barter</span><span>App<span></a>
		</li>
		<li>
			<a href="/signup">Join Us</a>
		</li>
		<li>
			<a href="/login">Sign In</a>
		</li>
	</ul>
</div>