	<footer>
	</footer>
	<!-- Insert all scripts here -->
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
	<!-- End of scripts -->
</body>
</html>