
<div class="topheader">
</div><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= pageTitle %></title>
	<link href="css/bootstrap.min.css?v=<%= Math.floor(Math.random()*100)%>" rel="stylesheet" media="screen">
	<link href="css/style.css" rel="stylesheet" media="screen">
</head>
<body class="body">
	<header class="topheader">
		<div class="wrapper">
			<h2 class="logocontainer">
				<a href="/"><span>Barter</span>App</a>
			</h2>
			

