<% include header.ejs %>
<% include defaultnav.ejs %>
  </div>
</header>

<div class="maincontent">

  <div id="content"> 
    <h1>A Simple Nodejs Barter Application</h1> 
    <ul> 
      <li id="passport">Utilizes passportjs to handle login authentication</li> 
      <li id="express">Demonstrates basic expressjs functionalities</li> 
      <li id="mongoose">Uses mongodb and mongoose to handle data storage and retrieval</li> 
    </ul> 
  </div>

  <div id="login-container">
  	<form method="post" id="login-form" class="well span4" action="/login">
        <h1>Welcome</h1>
        <p class="subheading">Please Login To Your Account</p>
        <hr>
        <label>Username </label>
        <input type="text" name="username" id="user-tf" class="input-large required">
        <label>Password</label>
        <input type="password" name="password" id="pass-tf" class="input-large required">
        <button type="submit" id="btn-login" class="btn btn-primary"><i class="icon-lock icon-white"></i>Sign in</button>
        <!-- <label id="remember-me" class="checkbox">Remember Me
          <input type="checkbox" checked="checked">
        </label> -->
        <div class="clear-fix"></div>
        <hr>
        <div class="btm-links"><!-- <a href="#" id="forgot-password">Forgot Your Password?</a>--><a href="/signup" id="create-account">Create An Account</a>
        </div>
      </form>
  </div>

</div>


<% include footer.ejs %>