<div class="homenav">
	<ul>
		<li>
			<a href="/about">About <span>Barter</span><span>App<span></a>
		</li>
		<li>
			<a href="/barter">Barter Now!</a>
		</li>
		<li>
			<a href="/account">My Profile</a>
		</li>
		<li>
			<a href="/logout">Logout</a>
		</li>
	</ul>
</div>